Repository pomazkovanton/noiceland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json --write, stylelint --fix

build(git): добавить линтер для проверки коммитов #34
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: none

fix: сделать шапку сайта #11 Убрать ширину и скорректировать min-width у header, скорретировать свойства высоты у header__container
  src/components/header/__container/header__container.css
  src/components/header/header.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

build: добавить гитхаб экшен на пул-реквесты
  .github/workflows/lint-actions.yml
Due: none

fix: добавить расширение файлов для stylelint
  package.json
Due: none

feat(page): добавить базовую разметку страницы
  src/index.html
Due: prettier --config .prettierrc.json --write

fix: добавить расширение файлов для stylelintdddddddddddd
  src/components/form/form.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: поменять контакт разработчика в README.md #39
  README.md
Due: none

style: создать стили для кнопок #7
  src/components/UI/button/button.css
  src/components/UI/button/button.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: исправить стиль кнопок #7
  src/components/UI/button/_scale-font-size/button_scale-font-size.css
  src/components/UI/button/button.css
  src/components/UI/button/button.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

build: добавить добавить стили для карточек#9
  src/components/UI/text/_type/text_type_paragraph.css
  src/components/UI/text/_type/text_type_subtitle.css
  src/components/UI/text/_type/text_type_theme.css
  src/components/UI/text/_type/text_type_title.css
  src/components/card/__info-box/_place/card__info-box_place_main.css
  src/components/card/__info-box/card__info-box.css
  src/components/card/__picture/_place/card__picture_place_current.css
  src/components/card/__picture/_place/card__picture_place_featured.css
  src/components/card/__picture/_place/card__picture_place_latest.css
  src/components/card/__picture/_place/card__picture_place_main.css
  src/components/card/__picture/card__picture.css
  src/components/card/_place/card_place_current.css
  src/components/card/_place/card_place_featured.css
  src/components/card/_place/card_place_latest.css
  src/components/card/_place/card_place_main.css
  src/components/card/card.css
  src/components/card/card.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix(ui): изменить способ анимации кнопки при наведении #7
  src/components/UI/button/_scale-font-size/button_scale-font-size.css
  src/components/UI/button/button.css
  src/components/UI/button/button.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix(ui): удалить лишний импорт модификатора #7
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: внести исправления
  src/components/UI/text/_type/text_type_paragraph.css
  src/components/UI/text/_type/text_type_subtitle.css
  src/components/UI/text/_type/text_type_theme.css
  src/components/UI/text/_type/text_type_title.css
  src/components/card/__info-box/_place/card__info-box_place_main.css
  src/components/card/__paparagraph/card__paparagraph.css
  src/components/card/__picture/card__picture.css
  src/components/card/__subtitle/card__subtitle.css
  src/components/card/__theme/card__theme.css
  src/components/card/__title/card__title.css
  src/components/card/_place/card_place_current.css
  src/components/card/_place/card_place_featured.css
  src/components/card/_place/card_place_latest.css
  src/components/card/_place/card_place_main.css
  src/components/card/card.css
  src/components/card/card.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

build: добавить стили для списков с навигацией #10
  src/components/nav-list/__item/_place/nav-list_place_information.css
  src/components/nav-list/__title/_place/nav-list__title_place_categories.css
  src/components/nav-list/__title/nav-list__title.css
  src/components/nav-list/_place/nav-list_place_categories.css
  src/components/nav-list/nav-list.css
  src/components/nav-list/nav-list.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: удалить свойство у родителя #10
  src/components/nav-list/nav-list.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: внести исправления #10
  src/components/nav-list/__item/_place/nav-list_place_information.css
  src/components/nav-list/__item/nav-list__item.css
  src/components/nav-list/_place/nav-list_place_categories.css
  src/components/nav-list/nav-list.css
  src/components/nav-list/nav-list.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: внести исправления
  src/components/nav-list/_place/nav-list_place_categories.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: внести исправления
  src/components/nav-list/nav-list.html
Due: prettier --config .prettierrc.json --write

feat: добавить секцию с рекомендуемыми постами
  .prettierrc.json
  src/components/featured-posts/__author/featured-posts__author.css
  src/components/featured-posts/__gallery/featured-posts__gallery.css
  src/components/featured-posts/__image/featured-posts__image.css
  src/components/featured-posts/__link/fearured-posts__link.css
  src/components/featured-posts/__post/featured-posts__post.css
  src/components/featured-posts/__subtitle/featured-posts__subtitle.css
  src/components/featured-posts/__theme/featured-posts__theme.css
  src/components/featured-posts/__title/featured-posts__title.css
  src/components/featured-posts/featured-posts.css
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: исправить ошибку в подключении шрифтов в text #44
  src/components/UI/text/_type/text_type_author.css
  src/components/UI/text/_type/text_type_paragraph.css
  src/components/UI/text/_type/text_type_subtitle.css
  src/components/UI/text/_type/text_type_theme.css
  src/components/UI/text/_type/text_type_title.css
  src/styles/commons/fonts.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: добавить main tag
  src/components/content/content.css
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: в секции featured-posts заменить заголовки h2 на h3
  src/index.html
Due: prettier --config .prettierrc.json --write

fix: поменять тэг featured-posts__gallery с div на ul
  src/components/featured-posts/__gallery/featured-posts__gallery.css
  src/index.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: в секции featured-posts перенести тэг a в article
  src/index.html
Due: prettier --config .prettierrc.json --write

fix: поменять padding на margin у элементов блока featured-posts
  src/components/featured-posts/__author/featured-posts__author.css
  src/components/featured-posts/__subtitle/featured-posts__subtitle.css
  src/components/featured-posts/__theme/featured-posts__theme.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: поправить отступы элементов блока featured-posts
  src/components/featured-posts/__author/featured-posts__author.css
  src/components/featured-posts/__image/featured-posts__image.css
  src/components/featured-posts/__post/featured-posts__post.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: стили для featured-posts
  src/components/featured-posts/featured-posts.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: в секции featured-posts перенести префикс автора из псевдоэлемента в тэг
  src/components/featured-posts/__author/featured-posts__author.css
  src/index.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: задать адаптивность изображению featured-posts__image
  src/components/featured-posts/__image/featured-posts__image.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: поменять структуру галлереи рекомендуемых постов с grid на flex
  src/components/featured-posts/__gallery/featured-posts__gallery.css
  src/components/featured-posts/__image/featured-posts__image.css
  src/components/featured-posts/__post/featured-posts__post.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: удалить блок content #15
  src/components/content/content.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: подключить стили карточек постов #15
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: использовать в секции созданные ранее card #15
  src/components/featured-posts/__author/featured-posts__author.css
  src/components/featured-posts/__gallery/featured-posts__gallery.css
  src/components/featured-posts/__image/featured-posts__image.css
  src/components/featured-posts/__post/featured-posts__post.css
  src/components/featured-posts/__subtitle/featured-posts__subtitle.css
  src/components/featured-posts/__theme/featured-posts__theme.css
  src/components/featured-posts/__title/featured-posts__title.css
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: index.css #15
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: удалить лишний импорт стилей #15
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

Updates
  LibreFranklin-Bold.0c4996f0.woff2
  LibreFranklin-Bold.460eee8d.woff
  LibreFranklin-Bold.79069a40.woff2
  LibreFranklin-Bold.b46aef90.woff
  LibreFranklin-Regular.00fe6a3c.woff2
  LibreFranklin-Regular.b9749885.woff
  LibreFranklin-Regular.bb1b16c7.woff
  LibreFranklin-Regular.c70f5899.woff2
  SourceSerifpro-regular-webfont.215bcaca.woff
  SourceSerifpro-regular-webfont.49324f93.woff2
  SourceSerifpro-regular-webfont.6c4719c7.woff2
  SourceSerifpro-regular-webfont.b45512d9.woff
  Tenorsans-regular-webfont.10457512.woff
  Tenorsans-regular-webfont.1a218bd9.woff2
  Tenorsans-regular-webfont.7570da06.woff2
  Tenorsans-regular-webfont.9d2c70e5.woff
  favicon.cd8ec1fe.svg
  favicon.fc816c06.svg
  index.eb13c0a4.css
  index.eb13c0a4.css.map
  index.f152d8b4.css
  index.f152d8b4.css.map
  index.fc498c8c.css
  index.fc498c8c.css.map
  index.html
  large-card_1_onojeghuo.4457fd33.jpg
  large-card_1_onojeghuo.dab12d25.jpg
  large-card_2_ortiz.4f032e59.jpg
  large-card_2_ortiz.f6641283.jpg
  large-card_3_gottlieb.2141f739.jpg
  large-card_3_gottlieb.f4649d57.jpg
  large-card_4_lueilwitz.9c3429a7.jpg
  large-card_4_lueilwitz.f8ce88f0.jpg
  noiceland.59712999.js
  noiceland.59712999.js.map
Due: prettier --config .prettierrc.json --write, stylelint --fix

Updates
  LibreFranklin-Bold.0c4996f0.woff2
  LibreFranklin-Bold.460eee8d.woff
  LibreFranklin-Regular.bb1b16c7.woff
  LibreFranklin-Regular.c70f5899.woff2
  SourceSerifpro-regular-webfont.49324f93.woff2
  SourceSerifpro-regular-webfont.b45512d9.woff
  Tenorsans-regular-webfont.10457512.woff
  Tenorsans-regular-webfont.7570da06.woff2
  favicon.cd8ec1fe.svg
  index.f152d8b4.css
  index.f152d8b4.css.map
  index.fc498c8c.css
  index.fc498c8c.css.map
  large-card_1_onojeghuo.4457fd33.jpg
  large-card_2_ortiz.f6641283.jpg
  large-card_3_gottlieb.f4649d57.jpg
  large-card_4_lueilwitz.9c3429a7.jpg
  noiceland.59712999.js
  noiceland.59712999.js.map
Due: prettier --config .prettierrc.json --write, stylelint --fix

Updates
  index.html
Due: prettier --config .prettierrc.json --write

build(deploy): настроить проект для автоматического деплоя
  package.json
Due: none

Path conditions:
  prettier --config .prettierrc.json --write: (any of: **/*.css) or (any of: **/*.html)
  stylelint --fix: any of: **/*.css
