Repository pomazkovanton/noiceland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json --write, stylelint --fix

.lintstagedrc:

{
  "**/*.css": [
    "prettier --config .prettierrc.json --write",
    "stylelint --fix"
  ],
  "**/*.html": [
    "prettier --config .prettierrc.json --write"
  ]
}

build: убрать проверку коммитов
  .husky/commit-msg
  commitlint.config.js
  package.json
Due: none

feat: добавить переменные цветов #3
  src/index.html
  src/styles/commons/variables.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: добавить комментарий переменных #3
  src/styles/commons/variables.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

feat/fonts: добавил шрифты #4
  src/assets/fonts/LibreFranklin-Bold.ttf
  src/assets/fonts/LibreFranklin-Bold.woff
  src/assets/fonts/LibreFranklin-Bold.woff2
  src/assets/fonts/LibreFranklin-Regular.ttf
  src/assets/fonts/LibreFranklin-Regular.woff
  src/assets/fonts/LibreFranklin-Regular.woff2
  src/assets/fonts/SourceSerifPro-Regular.ttf
  src/assets/fonts/SourceSerifpro-regular-webfont.woff
  src/assets/fonts/SourceSerifpro-regular-webfont.woff2
  src/assets/fonts/TenorSans-Regular.ttf
  src/assets/fonts/Tenorsans-regular-webfont.woff
  src/assets/fonts/Tenorsans-regular-webfont.woff2
  src/styles/commons/fonts.css
  src/styles/commons/variables.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

feat: импортировать все изображения из проекта
  src/accets/images/large-card_1_onojeghuo.jpg
  src/accets/images/large-card_2_ortiz.jpg
  src/accets/images/large-card_3_gottlieb.jpg
  src/accets/images/large-card_4_lueilwitz.jpg
  src/accets/images/logo_place_footer.svg
  src/accets/images/logo_place_header.svg
  src/accets/images/medium-card_1_ortiz.jpg
  src/accets/images/medium-card_2_ondricka.jpg
  src/accets/images/medium-card_3_lueilwitz.jpg
  src/accets/images/medium-card_4_lueilwitz.jpg
  src/accets/images/medium-card_5_brekke.jpg
  src/accets/images/medium-card_6_torphy.jpg
  src/accets/images/small-card_1_torphy.jpg
  src/accets/images/small-card_2_ortiz.jpg
  src/accets/images/small-card_3_ondricka.jpg
  src/accets/images/small-card_4_lueilwitz.jpg
  src/accets/images/small-card_5_lueilwitz.jpg
  src/accets/images/small-card_6_brekke.jpg
  src/accets/images/small-card_7_torphy.jpg
  src/accets/images/small-card_8_bartell.jpg
  src/accets/images/top-card_torphy.jpg
Due: none

fix: удалить дублируемые изображения, оставить в большом разрешении; удалить один из логотипов
  src/accets/images/logo_black-text.svg
  src/accets/images/logo_place_footer.svg
  src/accets/images/small-card_1_torphy.jpg
  src/accets/images/small-card_2_ortiz.jpg
  src/accets/images/small-card_3_ondricka.jpg
  src/accets/images/small-card_4_lueilwitz.jpg
  src/accets/images/small-card_5_lueilwitz.jpg
  src/accets/images/small-card_6_brekke.jpg
  src/accets/images/small-card_7_torphy.jpg
Due: none

исправил
  src/styles/commons/fonts.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

build: добавить DS_Store в .gitignore
  .gitignore
Due: none

doc: добавить описание проекта #13
  README.md
Due: none

fix: удалить шрифты ttf #4
  src/assets/fonts/LibreFranklin-Bold.ttf
  src/assets/fonts/LibreFranklin-Regular.ttf
  src/assets/fonts/SourceSerifPro-Regular.ttf
  src/assets/fonts/TenorSans-Regular.ttf
  src/styles/commons/fonts.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: переподключить шрифты #4
  src/styles/commons/variables.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

build: сделать husky исполняемым
  .husky/pre-commit
  package-lock.json
  package.json
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: перенести все изображения в папку assets
  src/assets/images/large-card_1_onojeghuo.jpg
  src/assets/images/large-card_2_ortiz.jpg
  src/assets/images/large-card_3_gottlieb.jpg
  src/assets/images/large-card_4_lueilwitz.jpg
  src/assets/images/logo_black-text.svg
  src/assets/images/medium-card_1_ortiz.jpg
  src/assets/images/medium-card_2_ondricka.jpg
  src/assets/images/medium-card_3_lueilwitz.jpg
  src/assets/images/medium-card_4_lueilwitz.jpg
  src/assets/images/medium-card_5_brekke.jpg
  src/assets/images/medium-card_6_torphy.jpg
  src/assets/images/small-card_8_bartell.jpg
  src/assets/images/top-card_torphy.jpg
Due: none

fix: добавить фамилии, добавить описание #13
  README.md
Due: none

style: добавить стили для ссылок #6
  src/components/UI/button/_center/button_center.css
  src/components/UI/button/button.css
  src/components/UI/link/_button/link_button.css
  src/components/UI/link/_dark/link_dark.css
  src/components/UI/link/_white/link_white.css
  src/components/UI/link/link.css
  src/components/UI/link/link.md
  src/styles/commons/fonts.css
  src/styles/commons/variables.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: пофиксил шрифты
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: добавить кнопки #6
  src/components/UI/button/_dark/button_dark.css
  src/components/UI/button/_footer/button_footer.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: добавить компонетны
  src/components/UI/link/link.md
Due: none

style: добавить универсальные стили для блока Text #1
  src/components/UI/text/__author/text__author.css
  src/components/UI/text/__paragraph/text__paragraph.css
  src/components/UI/text/__subtitle/text__subtitle.css
  src/components/UI/text/__theme/text__theme.css
  src/components/UI/text/__title/text__title.css
  src/components/UI/text/text.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix:испрваить стили #6
  .stylelintrc.json
  src/components/UI/button/_center/button_center.css
  src/components/UI/button/_dark/button_dark.css
  src/components/UI/button/_footer/button_footer.css
  src/components/UI/button/button.css
  src/components/UI/link/_button/link_button.css
  src/components/UI/link/_color/link_color_dark.css
  src/components/UI/link/_color/link_color_white.css
  src/components/UI/link/_dark/link_dark.css
  src/components/UI/link/_white/link_white.css
  src/components/UI/link/link.css
  src/components/UI/link/link.html
  src/components/UI/link/link.md
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix:убрать лишнее
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

feat: :подкючить normalize css к проекту #25
  src/styles/pages/index.css
  src/styles/vendor/normalize.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

build: добавить в ignore папку vendor
  .stylelintrc.json
Due: none

fix: исправить доку и стили
  src/components/UI/link/_color/link_color_light.css
  src/components/UI/link/_color/link_color_white.css
  src/components/UI/link/link.css
  src/components/UI/link/link.html
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: убрать коментарий
  src/components/UI/link/link.html
Due: prettier --config .prettierrc.json --write

style: добавить универсальные стили для блока Text (исправлена БЭМ структура) #1
  src/components/UI/text/_type/_author/text_type_author.css
  src/components/UI/text/_type/_paragraph/text_type_paragraph.css
  src/components/UI/text/_type/_subtitle/text_type_subtitle.css
  src/components/UI/text/_type/_theme/text_type_theme.css
  src/components/UI/text/_type/_title/text_type_title.css
  src/components/UI/text/text.css
  src/components/UI/text/text.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

feat: заполнить шапку сайта #26
  src/assets/images/favicon.svg
  src/index.html
Due: prettier --config .prettierrc.json --write

fix: исправить опечатку в keywords
  src/index.html
Due: prettier --config .prettierrc.json --write

fix: исправлена структура БЭМ для блока text #1
  src/components/UI/text/_type/text_type_author.css
  src/components/UI/text/_type/text_type_paragraph.css
  src/components/UI/text/_type/text_type_subtitle.css
  src/components/UI/text/_type/text_type_theme.css
  src/components/UI/text/_type/text_type_title.css
  src/components/UI/text/text.css
  src/components/UI/text/text.html
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: поправить пути к файлам стилей #1
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: добавить участника в проект #13
  README.md
Due: none

style: сделать стили для формы подписки #8
  src/components/UI/link/link.html
  src/components/form/__button/form__button.css
  src/components/form/__email/form__email.css
  src/components/form/form.css
  src/components/form/form.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

style: добавить стили для логотипа #31
  src/components/UI/logo/_place/logo_place_footer.css
  src/components/UI/logo/_place/logo_place_header.css
  src/components/UI/logo/logo.css
  src/components/UI/logo/logo.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: исправить стили формы
  src/components/form/__button/form__button.css
  src/components/form/__email/form__email.css
  src/components/form/form.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: исправить стили формы #8
  src/components/form/form.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: исправить стили логотипа
  src/assets/images/logo_black-text.svg
  src/components/UI/logo/_place/logo_place_footer.css
  src/components/UI/logo/_place/logo_place_header.css
  src/components/UI/logo/_theme/logo_theme_dark.css
  src/components/UI/logo/_theme/logo_theme_light.css
  src/components/UI/logo/logo.css
  src/components/UI/logo/logo.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

feat: добавить шапку сайта #11
  src/components/UI/header/__logo-link/header__logo-link.css
  src/components/UI/header/__menu/header__menu.css
  src/components/UI/header/header.css
  src/components/UI/page/page.css
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: исправить минимальную ширину страницы
  src/components/UI/page/page.css
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: добавить шапку сайта
  src/components/UI/header/header.css
  src/components/UI/line/line.css
  src/components/UI/page/page.css
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix

fix: переместить header в components, удалить line и page, сделать линию через border, в menu убрать свойство выравнивания и переполнение
  src/components/UI/line/line.css
  src/components/UI/page/page.css
  src/components/header/__container/header__container.css
  src/components/header/__logo-link/header__logo-link.css
  src/components/header/__menu/header__menu.css
  src/components/header/header.css
  src/index.html
  src/styles/pages/index.css
Due: prettier --config .prettierrc.json --write, stylelint --fix
